body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: url('/mainBackground.jpg'), rgba(47, 79, 79, .5);
  background-blend-mode: darken;
}

button {
  padding: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h1, h3,
h4 {
  margin-bottom: 0;
  margin-left: 20px;
}

nav {
  border-bottom: 4px solid black;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(105, 105, 105, .75);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 24px 32px;
  transition: 0.75s;
}

nav a:hover {
  background: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 25px;
}

footer {
  border-top: 2px solid black;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: dimgray;
}

#page-body {
  max-width: 960px;
  margin: auto;
  padding-top: 72px;
}

.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}